<div class="container-menu">
  <div class="header-menu">
    <h1>Companhia aérea</h1>
  </div>
  <nav id="nav">
    <button
      aria-label="Abrir Menu"
      aria-expanded="false"
      aria-haspopup="true"
      aria-controls="menu"
      id="btn-cadastro"
    >
      Cadastro
    </button>
    <ul id="menu" role="menu">
      <li><a href="/cadastrar/aeronave">Aeronave</a></li>
      <li><a href="/cadastrar/aeroporto">Aeroporto</a></li>
      <li><a href="/cadastrar/fabricante">Fabricante</a></li>
      <li><a href="/cadastrar/voo">Voo</a></li>
    </ul>
  </nav>
</div>