<div class="container-menu">
  <div class="header-menu">
    <h1>Companhia aérea</h1>
  </div>
  <div class="content-menu" id="cadastro">
    <a href="/cadastro/aeroporto">Cadastro Aeroporto</a>
    <a href="/cadastro/aeronave">Cadastro Aeronave</a>
    <a href="/cadastro/Voo">Cadastro Voo</a>
    <a href="/cadastro/Fabricante">Cadastro Fabricante</a>
  </div>
  <div class="content-menu" id="visualizar">
    <a href="/visualizar/aeroporto">Aeroporto</a>
    <a href="/visualizar/aeronave">Aeronave</a>
    <a href="/visualizar/Voo">Voo</a>
    <a href="/visualizar/Fabricante">Fabricante</a>
  </div>
</div>