<div class="container-menu">
  <div class="header-menu">
    <h1>Companhia aérea</h1>
  </div>
  <hr />
  <nav class="content-menu">
    <div class="">
      <button class="btn btn-secondary home" type="button">
        <a href="/dashboard">Home</a>
      </button>
    </div>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton2"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Cadastro
      </button>
      <ul
        class="dropdown-menu dropdown-menu-dark"
        aria-labelledby="dropdownMenuButton2"
      >
        <li><a
            class="dropdown-item active"
            href="/cadastro/aeronave"
          >Aeronave</a></li>
        <li><a
            class="dropdown-item"
            href="/cadastro/aeroporto"
          >Aeroporto</a></li>
        <li><a
            class="dropdown-item"
            href="/cadastro/fabricante"
          >Fabricante</a></li>
        <li><a class="dropdown-item" href="/cadastro/trecho">Trecho</a></li>
        <li><a class="dropdown-item" href="/cadastro/voo">Voo</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton2"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Visualizar
      </button>
      <ul
        class="dropdown-menu dropdown-menu-dark"
        aria-labelledby="dropdownMenuButton2"
      >
        <li><a
            class="dropdown-item active"
            href="/visualizar/aeronave"
          >Aeronave</a></li>
        <li><a
            class="dropdown-item"
            href="/visualizar/aeroporto"
          >Aeroporto</a></li>
        <li><a
            class="dropdown-item"
            href="/visualizar/fabricante"
          >Fabricante</a></li>
        <li><a class="dropdown-item" href="/visualizar/voo">Voo</a></li>
      </ul>
    </div>
  </nav>
</div>