<div class="container-menu">
  <div class="header-menu">
    <h1>Companhia aérea</h1>
  </div>
  <hr />
  <nav class="content-menu">
    <button
      aria-label="Abrir Menu"
      aria-expanded="false"
      aria-haspopup="true"
      aria-controls="menu"
      id="btn-cadastro"
    >
      Cadastro
    </button>

    <div class="menu" role="menu">
      <a href="/cadastro/aeronave">Aeronave</a>
      <a href="/cadastro/aeroporto">Aeroporto</a>
      <a href="/cadastro/fabricante">Fabricante</a>
      <a href="/cadastro/voo">Voo</a>
    </div>
    <button
      aria-label="Abrir Menu"
      aria-expanded="false"
      aria-haspopup="true"
      aria-controls="menu"
      id="btn-cadastro"
    >
      visualizar
    </button>
    <div class="menu" role="menu">
      <a href="/visualizar/aeronave">Aeronave</a>
      <a href="/visualizar/aeroporto">Aeroporto</a>
      <a href="/visualizar/fabricante">Fabricante</a>
      <a href="/visualizar/voo">Voo</a>
    </div>
  </nav>
</div>