<div class="container-cadastro">
  <div class="header-cadastro">
    <h1>Fabricante</h1>
  </div>
  <div class="control-button">
    <form action="/cadastro/fabricante">
      <button>Cadastrar Fabricante</button>
    </form>
    <form action="/visualizar/fabricante" method="GET">
      <button>Visualizar Fabricantes</button>
    </form>
  </div>
</div>