<div class="container-cadastro">
  <div class="header-cadastro">
    <h1>Aeroportos</h1>
  </div>
  <div class="control-button">
    <form action="/cadastro/aeroporto">
      <button>Cadastrar Aeroporto</button>
    </form>
    <form action="/visualizar/aeroporto" method="GET">
      <button>Visualizar Aeroportos</button>
    </form>
  </div>
</div>