<div class="container-cadastro">
  <div class="header-cadastro">
    <h1>Aeronave</h1>
  </div>
  <div class="control-button">
    <form action="/cadastro/aeronave">
      <button>Cadastrar Aeronave</button>
    </form>
    <form action="/visualizar/aeronave" method="GET">
      <button>Visualizar Aeronaves</button>
    </form>
  </div>
</div>