<div class="container-trecho">
  <div class="header-trecho">
    <h1>Cadastro de Trechos</h1>
  </div>
  <form action="/cadastro/trecho" method="POST" class="form">
    <div class="control-input">
      <div class="input">
        <label for="iAeroportoSaida">Aeroporto Saida</label>
        <input
          type="text"
          name="idAeroportoSaida"
          placeholder="Insira o nome do aeroporto de saída"
        />
      </div>
      <div class="input">
        <label for="idAeroportoSaida">Aeroporto Chegada</label>
        <input type="text" name="idAeroportoSaida" placeholder="Insira o aeroporto de chegada" />
      </div>
    </div>

    <div class="control-button">
      <button type="submit">Cadastrar</button>
      <button type="reset">Limpar</button>
    </div>
  </form>
</div>