<div class="container">
  <div class="header">
    <h1>Cadastro de Aeronave</h1>
  </div>
  <form action="/cadastro/fabricante" method="POST">
    <div class="form-control">
      <label for="fabricante">Fabricante</label>
      <input
        type="text"
        name="fabricante"
        placeholder="Insira o nome do fabricante"
      />
    </div>
    <button type="submit">Cadastrar</button>
  </form>
</div>