<div class="container">
  <div class="header">
    <h1>Cadastro de Aeronave</h1>
  </div>
  <form action="/cadastro/aeroporto" method="POST">
    <div class="form-control">
      <label for="aeroporto" >Aeroporto</label>
      <input
        type="text"
        name="aeroporto"
        placeholder="Insira o nome do aeroporto"
      />
    </div>
    <div class="form-control">
      <label for="cidade">Cidade</label>
      <input
        type="text"
        name="cidade"
        placeholder="Insira a cidade"
      />
    <button type="submit">Cadastrar</button>
  </form>
</div>