<div class="container-cadastro">
  <div class="header-cadastro">
    <h1>Edite o Fabricante</h1>
  </div>
  <form action="/cadastro/fabricante" method="POST" class="form">
    <div class="control-input">
      <div class="input">
        <label for="fabricante">Fabricante</label>
        <select name="idFabricante">
          {{#each fabricante}}
            <option value="{{this.fabricante}}">{{this.fabricante}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="control-button">
      <button type="submit">Editar</button>
      <button type="reset">Excluir</button>
    </div>

  </form>
</div>