<div class="container-cadastro">
  <div class="header-cadastro">
    <h1>Cadastro de Fabricante</h1>
  </div>
  {{#each fabricante}}
    <form action="/editar/fabricante/{{this.idFabricante}}" method="POST">
      <div class="control-input">

        <div class="input">
          <label for="fabricante">Fabricante</label>
          <input
            type="text"
            name="fabricante"
            placeholder="Insira o nome do fabricante"
            value="{{this.nomeFabricante}}"
          />
        </div>
      </div>

      <div class="control-button">
        <button type="submit">Cadastrar</button>
        <button type="reset">Limpar</button>
      </div>

    </form>
  {{/each}}
</div>