<div class="container-cadastro">
  <div class="header-cadastro">
    <h1>Cadastro de Aeronave</h1>
  </div>
  <form action="/cadastro/aeronave" method="POST" class="form">
    <div class="control-input">
      <div class="input">
        <label for="modelo">Modelo</label>
        <input
          type="text"
          name="modelo"
          placeholder="Insira o modelo da aeronave"
          value="{{this.modelo}}"
        />
      </div>
      <div class="input">
        <label for="anoFabricacao">Ano de Fabricação</label>
        <input
          type="text"
          name="anoFabricacao"
          placeholder="Insira o ano de fabricação"
          value="{{this.anofabricacao}}"
        />
      </div>
      <div class="input">
        <label for="idFabricante">Fabricante</label>
        <select name="idFabricante">
          <option value="{{this.fabricante}}">{{this.fabricante}}</option>

        </select>
      </div>
    </div>
    <div class="control-button">
      <button type="submit">Cadastrar</button>
      <button type="reset">Limpar</button>
    </div>
  </form>
</div>