<div class="container-home">
  <div class="content-grid">
    <div class="opcao">
      <a href="/visualizar/aeronave">Aeronave <span>#</span></a>
    </div>
    <div class="opcao">
      <a href="/visualizar/aeroporto">Aeroporto <span>#</span></a>
    </div>
    <div class="opcao">
      <a href="/visualizar/voo">Voo <span>#</span></a>
    </div>
    <div class="opcao">
      <a href="/visualizar/fabricante">Fabricante <span>#</span></a>
    </div>
    <div class="opcao">
      <a href="/visualizar/trecho">Trecho <span>#</span></a>
    </div>
  </div>

</div>