<div class="container">
  <div class="header-menu">
    <h1>Companhia aerea</h1>
  </div>
  <div class="content-menu">
    <a href="/cadastro/aeroporto">Cadastro Aeroporto</a>
    <a href="/cadastro/aeronave">Cadastro Aeronave</a>
    <a href="/cadastro/Voo">Cadastro Voo</a>
    <a href="/cadastro/Fabricante">Cadastro Fabricante</a>
  </div>
</div>