<div class="container-modal">
  <div class="content-itens">
    <div class="content-image">
      <img src="" alt="Imagem de sucesso da exclusão" />
    </div>
    <div class="content-info">
      <p>Exclusão de dados feita com sucesso!</p>
    </div>
  </div>
</div>