<<<<<<< HEAD
<div class="container-visualizar">
  <div class="header-visualizar">
    <h1>Visualizar Fabricante</h1>
  </div>
  <div class="control-dados">
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Fabricante</th>
        </tr>
      </thead>
      <tbody>
        {{#each fabricantes}}
          <tr>
            <td>{{this.idfabricante}}</td>
            <td>{{this.fabricante}}</td>
            <td class="button"><button>Editar</button></td>
            <td class="button"><button>Excluir</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
=======
<h1>Visualizar Fabricante</h1>
<div class="fabricante-container">

  <table>
    <thead>
      <tr>
        <th>
          Código
        </th>
        <th>
          Fabricante 
        </th>
      </tr>
    </thead>
    <tbody>

      {{#each fabricantes}}
      <tr>
        <td>
          {{this.id_fabricante}}
        </td>
        <td>
          {{this.fabricante}}
        </td>
        <td>
          <button>
            editar
          </button>
        </td>
        <td>
          <button>
            excluir
          </button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
>>>>>>> badf53a6881e197ab8ed9a2cecc0a420f722c17c
</div>