<div class="container-visualizar">
  <div class="header-visualizar">
    <h1>Aeroportos</h1>
  </div>
  <div class="control-dados">
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Aeroporto</th>
          <th>Cidade</th>
        </tr>
      </thead>
      <tbody>
        {{#each aeroportos}}
          <tr>
            <td>{{this.idAeroporto}}</td>
            <td>{{this.nomeAeroporto}}</td>
            <td>{{this.cidade}}</td>
            <td class="button"><button>Editar</button></td>
            <td class="button"><button>Excluir</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
