.container-cadastro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-cadastro {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.form {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Open sans", sans-serif;
}
.control-input {
  width: 80%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(200px, 2fr));
  margin-bottom: 2rem;
}

.control-button {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.control-button button {
  min-width: 120px;
}
