.container-fluid {
  padding: 4rem 0 0 0;
}
.areas {
  background-color: var(--background-color);
}
.dados {
  width: 100%;
  padding: 5px;
  text-align: center;
}
.dados a {
  display: block;
  font-family: "Open sans", sans-serif;
  font-size: 1.2rem;
  color: var(--background-color);
}
.dados:hover {
  background-color: var(--background-color-hover);
}
.control-dados {
  margin-top: 2rem;
}
#home label {
  display: none;
}
#home > .dataTables_wrapper .dataTables_paginate .paginate_button {
  display: none;
}
#home > .dataTbles_wrapper {
  display: none;
}

@media only screen and (max-device-width: 1400px) {
  .table.dataTable tbody th,
  table.dataTable tbody td {
    padding: 2px 10px;
  }
  .container-fluid {
    padding: 0;
  }
  .control-dados {
    height: 65%;
    margin-top: 1rem;
  }
  .p-3 {
    padding: 0.5rem !important;
  }
  button a {
    padding: 0 12rem 0 0;
  }
}
button a {
  padding: 0 18rem 0 0;
}
button a:hover {
  color: #fff;
}
