.container-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: #fff;
}

.header-menu {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
}

.content-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Open sans", sans-serif;
  font-size: 20px;
  margin-top: 1rem;
}

.content-menu button {
  width: 100%;
  text-align: start;
  font-size: 25px;
  background: var(--background-color);
  border: none;
}
.content-menu button:hover {
  background: var(--background-color-hover);
}
.container-menu button:focus {
  background: var(--background-color-hover);
  box-shadow: none;
}
.dropdown {
  margin-bottom: 1rem;
}

.dropdown ul {
  width: 100%;
  background: var(--background-color);
}
.dropdown a {
  width: 100%;
  color: #fff;
}

.dropdown a:hover {
  background-color: var(--background-color-hover);
}
