@import "./input.css";
@import "./button.css";
@import "./cadastro.css";
@import "./menu.css";
@import "./visualizar.css";
@import "./home.css";
@import "./modal.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Open+Sans:wght@300;400&display=swap");

:root {
  --background-color: #0056b3;
  --background-color-hover: #007bff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.home {
  width: 25vw;
  height: 100vh;
}
.view {
  width: 75vw;
  height: 100vh;
}
